run = ["bash", "main.sh"]
language = "bash"
entrypoint = "main.sh"

[env]
DB_TYPE="sqlite3"
DB_HOST="db4free.net"
DB_PORT="3306"
DB_USER="hzc54188"
DB_PASS="mysql@2025"
DB_NAME="hzc54188"
DB_TABLE_PREFIX="alist_"
DB_SLL_MODE="true"
